<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zamówienia użytkownika</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<h1>Zamówienia użytkownika</h1>
<table class="table">
    <thead>
    <tr>
        <th>ID zamówienia</th>
        <th>Status</th>
        <th>Data utworzenia</th>
        <th>Całkowita cena</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.dateCreated}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td>
            <a th:href="@{/orders/{orderId}(orderId=${order.id})}" class="btn btn-info">Szczegóły</a>
        </td>
    </tr>
    </tbody>
</table>
<button onclick="history.back()" class="btn btn-secondary">Powrót</button>
</body>
</html>